bs4==0.0.1
elasticsearch==5.5.3
emoji==0.5.0
flask-cors==3.0.4
gunicorn==19.7.1
healthtools==0.0.3
nested-lookup==0.1.5
pip-chill==0.1.8
pipreqs==0.4.9
pylint==1.8.4
python-memcached==1.59
requests-aws4auth==0.9
telegram==0.0.1
twilio==6.6.3
virtualenv==16.0.0
wit==5.1.0