Werkzeug==0.12.2
setuptools==36.5.0
Flask==0.12.2
beautifulsoup4==4.6.0
elasticsearch==6.2.0
emoji==0.5.0
python_memcached==1.59
nested_lookup==0.1.5
Requests==2.18.4
requests_aws4auth==0.9
telegram==0.0.1
wit==5.1.0
